{% extends 'df_user/base_foot.html' %}

{% block body %}
	{% include 'df_user/base_header.html'%}
<form action="" method="post">
	<div class="total_count">全部商品<em class="count_num">2</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
	{% for goods in goods_list %}
	<ul class="cart_list_td clearfix" id="{{goods.id}}">
		<li class="col01"><input type="checkbox" name="" checked></li>
		<li class="col02"><img src="/static/{{goods.goods.gpic}}"></li>
		<li class="col03">{{goods.goods.gtitle}}<br><em>{{goods.goods.gprice}}/500g</em></li>
		<li class="col04">500g</li>
		<li class="col05" value="{{goods.goods.gprice}}">{{goods.goods.gprice}}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{goods.count}}">
				<a href="javascript:;" class="minus fl">-</a>	
			</div>
		</li>
		<li class="col07">{{goods.goods.gprice}}元</li>
		<li class="col08"><a href="javascript:cart_del({{goods.id}});">删除</a></li>
	</ul>
	{% endfor %}

	<ul class="settlements">
		<li class="col01"><input id='checked_all' type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="total">0</em><br>共计<b class="total_count1">0</b>件商品</li>
		<li class="col04"><a id='order' href="">去结算</a></li>
	</ul>
</form>>
	<script type="text/javascript">
		//小计  总计

		total();
		//全选，全消
		$('#checked_all').click(function () {
		    //选中复选框为true，没选中为false
			state=$(this).prop('checked');
			//$(':checkbox')表示选择所有type=checkbox的节点对象
			//$(":checkbox:not(#check_all)") 去除所有与给定选择器匹配的元素
			//下面这段代码表示，去除所有与给定选择起匹配的元素的值后的剩余的元素对象，的状态和'check_all'的相同
			$(":checkbox:not(#checked_all)").prop('checked',state)


        });

		//选择
		$(':checkbox:not(#checked_all)').click(function () {
			if($(this).prop('checked')){
			    //判断添加上这个选中的商品后，所有的订单是否都选中，
				//如果都选中就直接让全选也自动选中
			    if($(":checked").length+1 == $(":checkbox").length){
			        $('#checked_all').prop('checked',true);

				}

			}else{
			        $('#checked_all').prop('checked',false);
				}
			total();
        });

		//数量增加

		$('.add').click(function () {
		    var oldValue = parseInt($(this).next().val());
				oldValue ++;
//			$(this).val(oldValue);
			$(this).next().attr({'value':oldValue});
			count02 = $(this).next().val();
			var goodsId = $(this).parents(".cart_list_td").attr('id');
			$.get("/cart/edit/"+goodsId+"_"+count02+"/",function (data) {
				if(data.ok[1] == 'ok'){

				    total()
				}else{

				    $(this).val(data.ok[0]);
					 total()
				}
            })

        });
		//数量减少
		$('.minus').click(function () {
		    var oldValue01 = parseInt($(this).prev().val());
		    if(oldValue01 <=1){
		        oldValue01 = 1
			}
			oldValue01 --;
//			$(this).val(oldValue);
			$(this).prev().attr({'value':oldValue01});
			count02 = $(this).prev().val();
			var goodsId = $(this).parents(".cart_list_td").attr('id');
			$.get("/cart/edit/"+goodsId+"_"+count02+"/",function (data) {
				if(data.ok[1] == 'ok'){

				    total()
				}else{

				    $(this).val(data.ok[0]);
					 total()
				}
            })

        });
		//手动修改：
		$('.num_show').blur(function () {
		    count02 = $(this).val();
		    if(count02<=0){
		        $(this).val(0);
//		        $(this).focus();
		        return;
			}
			if(count02 >=100){
		        $(this).val(100);
		        return
			}
			var goodsId = $(this).parents(".cart_list_td").attr('id');
			$.get("/cart/edit/"+goodsId+"_"+count02+"/",function (data) {
				if(data.ok[1] == 'ok'){

				    total()
				}else{

				    $(this).val(data.ok[0]);
					 total()
				}
            })

			total();

        });
		function total() {

		    totall = 0;
		    total_count = 0;
			$('.col07').each(function () {
				//取出该产品的数量
				var count = $(this).prev().children().find('input').val();


				//取出该产品的价格
				var price = $(this).prev().prev().val();


				//小计
				total0 = parseInt(count)*parseFloat(price);

				//toFixed(2)表示去掉两位小数
				$(this).text(total0.toFixed(2));
				state=$(this).prev().prev().prev().prev().prev().prev().find('input').prop('checked')
				if(state){
				  totall += total0;
					total_count ++;
				}

            });
			$('#total').text(totall.toFixed(2));
			$('.total_count1').text(total_count);
			$('.count_num').text(total_count);

        }
        //删除操作
		function cart_del(cart_id) {
		    del=confirm('确定要删除吗？');
		    if (del){
		        $.get('/cart/delete/'+cart_id+"/", function (data) {
					if(data.ok == 'ok'){
					    $('ul').remove('#'+cart_id);
					    total();
					}
                })
			}

        }

        $('.col04').click(function () {
            cart_ids = '';
            carts_ids = ''
			$(':checkbox:not(#checked_all)').each(function () {
				state=$(this).prop('checked');
				if(state){
				    var idVal = $(this).parents(".cart_list_td").attr('id');


				    if(cart_ids == ''){
				        cart_ids = cart_ids+'?carts_id='+idVal;
				        carts_ids = idVal;

					}else{
				        cart_ids += '&carts_id='+idVal;
				        carts_ids += ','+idVal;
					}




				}
            });



			$('#order').attr({'href':"/order/"+cart_ids});
//			var totalCount = $('#total').text();
//			var totalNum = $('.total_count1').text()
//			$.post('/order/',{'carts_ids':carts_ids,'total':totalCount,'total_num':totalNum})

        })


	</script>
{% endblock %}